/* ========================================= */
/* 4. UTILITIES */
/* ========================================= */

.u-text-center {
  text-align: center;
}

.u-text-color-white {
  color: var(--color-white);
}

.u-text-decor-none {
  text-decoration: none;
}
.u-text-size-h3 {
  font-size: var(--font-size-h3);
}
