@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ========================================= */
/* 1. BASE */
/* ========================================= */

:root {
  --color-primary-blue: #4853cd;
  --color-border-blue: #007bff;
  --color-primary-red: #c13544;
  --color-border-red: #ff0000;
  --color-neutral-dark: #333;
  --color-black: black;
  --color-header-dark: rgb(0, 0, 0, 0.6);
  --color-menu-dark: rgb(0, 0, 0, 0.2);
  --color-neutral-light: #bdbdbd;
  --color-white: white;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 48px;
  --space-xxl: 80px;
  --space-xxxl: 160px;

  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-body: 1rem;
  --font-size-small: 0.875rem;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
