@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.Header {
  background-image: url("../img/img1_upscaled.jpg");
  background-color: rgb(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 5%;
  padding-left: 5%;
  color: white;
}

.Menu {
  position: sticky;
  top: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: white;
  width: 100%;
}

.MenuLi {
  flex: 1;
  text-align: center;
}

.MenuLiA {
  color: black;
  text-decoration: none;
  display: block;
  padding: 3%;
}
.MenuLiA:hover {
  background-color: rgb(0, 0, 0, 0.2);
  transition: 0.3s;
}

.FirstArt,
.SecondArt {
  display: flex;
}

.ArtText {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4%;
}
.ArtButton,
.ArtButton2 {
  width: 20%;
  text-decoration: none;
  color: white;
  background-color: #4853cd;
  padding: 2%;
  margin: 2% auto;
  border-radius: 40px;
}
.ArtButton2 {
  background-color: #c13544;
}
.ArtImage {
  width: 50%;
  margin: 1.5%;
}

.End {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #bdbdbd;
}
.EndMenu {
  list-style-type: none;
  flex: 1;
}
.EndMenu h3 {
  color: black;
  padding: 3%;
}
.EndMenuLiA {
  color: black;
  text-decoration: none;
  display: block;
  padding: 3%;
}
.EndMenuLiA:hover {
  text-decoration: underline;
}
