@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ========================================= */
/* 1. BASE */
/* ========================================= */

:root {
  --color-primary-blue: #4853cd;
  --color-border-blue: #007bff;
  --color-primary-red: #c13544;
  --color-border-red: #ff0000;
  --color-neutral-dark: #333;
  --color-black: black;
  --color-header-dark: rgb(0, 0, 0, 0.6);
  --color-menu-dark: rgb(0, 0, 0, 0.2);
  --color-neutral-light: #bdbdbd;
  --color-white: white;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 48px;
  --space-xxl: 80px;
  --space-xxxl: 160px;

  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-body: 1rem;
  --font-size-small: 0.875rem;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* ========================================= */
/* 2. LAYOUT */
/* ========================================= */

.Header {
  background-image: url("../img/img1_upscaled.jpg");
  background-color: var(--color-header-dark);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: var(--space-xxxl);
  padding-left: var(--space-xxxl);
  color: var(--color-white);
}
.MenuNav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.FirstArt,
.SecondArt {
  display: flex;
  padding: var(--space-l);
  gap: var(--space-l);
}

#Galery {
  padding: var(--space-xxl) var(--space-xs);
  display: flex;
  gap: var(--space-xl);
  justify-content: center;
}

.Footer,
.End {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: var(--color-neutral-dark);
  color: var(--color-white);
}

.End {
  padding: var(--space-xl);
}

/* ========================================= */
/* 3. COMPONENTS */
/* ========================================= */

.Menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  background: var(--color-white);
}

.MenuLi {
  flex: 1;
}

.MenuLiA {
  color: var(--color-neutral-dark);
  font-size: var(--font-size-h3);
  text-decoration: none;
  display: block;
  padding: var(--space-l);
  box-shadow: 1px 1px var(--color-black);
}

.MenuLiA:hover,
.MenuLiA:focus {
  background-color: var(--color-menu-dark);
  transition: 0.3s;
}

.ArtText {
  width: 50%;
  font-size: var(--font-size-h3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-m);
}

.ArtImage {
  width: 50%;
  margin: var(--space-xl);
}

.Button {
  width: 20%;
  text-decoration: none;
  color: var(--color-white);
  display: block;
  padding: var(--space-l);
  margin: var(--space-l) auto;
  border-radius: var(--space-xl);
  transition: all 0.3s ease;
}

.Button--red {
  background-color: var(--color-primary-red);
}

.Button--blue {
  background-color: var(--color-primary-blue);
}

.Button:hover,
.Button:focus {
  transform: scale(1.05);
}

.EndMenu {
  list-style-type: none;
  flex: 1;
}

.EndMenu h3 {
  padding: var(--space-m);
}

.EndMenuLiA {
  color: var(--color-white);
  text-decoration: none;
  display: block;
  padding: var(--space-m);
}

.EndMenuLiA:hover,
.EndMenuLiA:focus {
  text-decoration: underline;
}

#mainImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.mainImageOverlay {
  position: absolute;
  top: var(--space-l);
  left: var(--space-l);
  font-size: var(--font-size-h3);
  z-index: 10;
}
.mainImageContainer {
  position: relative;
  width: 80%;
  max-width: 600px;
  display: inline-block;
}

.thumbnail-container {
  width: 50%;
  display: flex;
  justify-content: start;
  gap: var(--space-l);
  flex-wrap: wrap;
}

.thumbnail {
  flex: 0 0 calc(33.333% - (2 * var(--space-l)) / 3); /* */
  width: 0%;
  height: 30%;
  object-fit: cover;
  background-position: center center;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: var(--space-s);
  transition: all 0.3s ease;
}

.thumbnail:hover,
.thumbnail:focus {
  border-color: var(--color-border-blue);
  transform: scale(1.05);
}

.thumbnail.active {
  border-color: var(--color-border-red);
  border-width: 3px;
}

/* ========================================= */
/* 4. UTILITIES */
/* ========================================= */

.u-text-center {
  text-align: center;
}

.u-text-color-white {
  color: var(--color-white);
}

.u-text-decor-none {
  text-decoration: none;
}

/* ========================================= */
/* 5. PAGES */
/* ========================================= */

@media (max-width: 1200px) {
  #Galery {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .FirstArt,
  .SecondArt {
    flex-direction: column;
    margin: 0;
  }

  .ArtText,
  .ArtImage {
    width: 100%;
    margin: 0;
  }

  .Header {
    padding-left: var(--space-l);
  }

  .Menu {
    flex-wrap: wrap;
  }

  .MenuLi {
    flex: 0 0 50%;
  }

  .Button {
    width: 50%;
  }

  .Footer {
    flex-direction: column;
    align-items: center;
  }

  .EndMenu {
    width: 100%;
    padding-bottom: var(--space-m);
  }
}
