@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary-blue: #4853cd;
  --color-border-blue: #007bff;
  --color-primary-red: #c13544;
  --color-border-red: #ff0000;
  --color-neutral-dark: #333;
  --color-header-dark: rgb(0, 0, 0, 0.6);
  --color-menu-dark: rgb(0, 0, 0, 0.2);
  --color-neutral-light: #bdbdbd;
  --color-white: white;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 48px;
  --space-xxl: 80px;
  --space-xxxl: 160px;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.Header {
  background-image: url("../img/img1_upscaled.jpg");
  background-color: var(--color-header-dark);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: var(--space-xxl);
  padding-left: var(--space-xxxl);
  color: var(--color-white);
}
.MenuNav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.Menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  background: var(--color-white);
}

.MenuLi {
  flex: 1;
  text-align: center;
}

.MenuLiA {
  color: var(--color-neutral-dark);
  text-decoration: none;
  display: block;
  padding: var(--space-l);
  box-shadow: 1px 1px black;
}
.MenuLiA:hover {
  background-color: var(--color-menu-dark);
  transition: 0.3s;
}

.FirstArt,
.SecondArt {
  display: flex;
}

.ArtText {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-m);
}
.ArtButton {
  width: 20%;
  text-decoration: none;
  color: var(--color-white);
  padding: var(--space-m);
  margin: var(--space-l) auto;
  border-radius: var(--space-xl);
  transition: all 0.3s ease;
}

.redbc {
  background-color: var(--color-primary-red);
}
.bluebc {
  background-color: var(--color-primary-blue);
}
.ArtButton:hover {
  transform: scale(1.05);
}

.ArtImage {
  width: 50%;
  margin: var(--space-xl);
}

.Footer,
.End {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: var(--color-neutral-light);
}
.EndMenu {
  list-style-type: none;
  flex: 1;
}
.EndMenu h3 {
  color: black;
  padding: var(--space-m);
}
.EndMenuLiA {
  color: black;
  text-decoration: none;
  display: block;
  padding: var(--space-m);
}
.EndMenuLiA:hover {
  text-decoration: underline;
}

.End {
  padding: var(--space-xl);
}

#Galery {
  padding: var(--space-xl) var(--space-l);
  display: flex;
  justify-content: center;
}

#mainImage {
  width: 80%;
  max-width: 600px;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.thumbnail-container {
  width: 50%;
  display: flex;
  justify-content: start;
  gap: var(--space-l);
  flex-wrap: wrap;
}

.thumbnail {
  flex: 0 0 calc(33.333% - 20px); /* */
  width: 0%;
  height: 30%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: var(--space-s);
  transition: all 0.3s ease;
}

.thumbnail:hover {
  border-color: var(--color-border-blue);
  transform: scale(1.05);
}

.thumbnail.active {
  border-color: var(--color-border-red);
  border-width: 3px;
}
