* {
  box-sizing: border-box;
}

:root {
  --font-size-xs: 1rem;
  --font-size-3xl: 2.986rem;

  --font-family-sans: "Inter", sans-serif;
  --font-family-alt: "Source Sans Pro", sans-serif;
}

.text {
  font-size: var(--font-size-3xl);
  font-family: var(--font-family-alt);
}
